<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Projeto 1 - Clientes</title>
    <meta charset="utf-8">
	  	<style rel="stylesheet">
		body {
		background-color: #cff; }
	</style>
  </head>
  <body>
    <h1>Depoimentos de Clientes</h1> 
	<img width="60" height="60" src="/static/maria.jpg"> Maria: "Os funcionários são muitos atenciosos!"</p>
    <img width="60" height="60" src="/static/jose.jpg"> José:  "Eles dão grandes descontos em compras à vista!"</p>
    <img width="60" height="60" src="/static/joa.jpg"> João: "Esta loja é muito boa!"</p>
    <img width="60" height="60" src="/static/ana.jpg"> Ana: "Vendem ótimos produtos!"</p>

    <br>
    <p><a href="/">voltar para loja</a><p>

  </body>
</html>

