<!DOCTYPE html>
<html lang="pt-br">
  <head>
	<meta charset="utf-8">
	<title>Projeto 1</title>
   	<style rel="stylesheet">
		body {
		background-color: #cff; }
	</style>
  </head>
  <body> 
  <font size="5" face="verdana" color="black" align="center"> </font> 
    <h1>SEJA BEM-VINDO(A) VISITANTE!</h1>
		<H4 ALIGN=left> Sua presença é muito importante!
			<br />
			Estamos felizes por ter você conoosco.
			<br />
			Muitas novidades estarão sendo oferecidas.<br />
			<br />
			

    <p>Para ver os nossos produtos acesse: <a href="/produtos/">produtos</a>
    <p>Para ver depoimentos dos nossos clientes acesse: <a href="/clientes/">clientes</a></p>
	<br />
	<br />
	<p>	Muito obrigado por sua visita!!</p>
  </body>
</html>