<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Projeto 1 - Produtos</title>
    <meta charset="utf-8">
	  	<style rel="stylesheet">
		body {
		background-color: #cff; }
	</style>
  </head>
  <body>
    <h1>Produtos Mais Vendidos</h1>

    <table>
    <tr> <th> <h2>Produto </h2></th>  <th><h2>Preço</h2></th> <th><h2>Foto</h2></th>  </tr>
    <tr> <td>Geladeira</td>  <td>R$ 900</td> <td> <img width="60px" height="60px" src="/static/geladeira.jpg"></td></tr>
    <tr> <td>Fogão</td>  <td>R$ 500</td> <td> <img width="60px" height="60px"  src="/static/fogão.jpg"> </td></tr> </tr>
    <tr> <td>TV 50"</td>  <td>R$ 1600</td> <td> <img width="60px" height="60px"  src="/static/tv.jpg"> </td></tr></tr>
    </table>

    <br>
    <p><a href="/">voltar para loja</a><p>

  </body>
</html>